---
const { title, description, date, author, image, tags } = Astro.props;
---

<section
  class="h-screen pt-20 pb-8 bg-no-repeat bg-center bg-cover"
  style={{
    backgroundImage: `linear-gradient(transparent 40%, #000000cc), url(/${image.src})`,
  }}
>
  <div
    class="container h-full mx-auto px-4 grid place-items-center gap-8 lg:px-24"
  >
    <div class="space-y-4 text-center">
      <h1 class="text-5xl font-extrabold tracking-tight lg:text-6xl">
        <span
          class="bg-[linear-gradient(transparent_50%,_#fff_0%,_#fff_90%,_transparent_90%)] bg-no-repeat bg-cover"
          >{title}</span
        >
      </h1>
      <p class="text-md font-medium">
        <span class="text-white bg-black"
          >by {author} &bull; {date.toDateString()}</span
        >
      </p>

      <div class="space-x-2">
        {
          tags.map((tag) => (
            <small class="px-2 py-1 inline-block rounded bg-black">
              <a
                href={`/tags/${tag}`}
                class="before:content-['#'] font-semibold text-white hover:underline"
              >
                {tag}
              </a>
            </small>
          ))
        }
      </div>
    </div>
  </div>
</section>
